<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <div class="container">
    <div class="card  m-3 mt-5">
      <h5 class="card-header text-center">
        Signup Form
      </h5>
      <div class="card-body">
       <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-6">
              <label>First Name</label>
              <input type="text" class="form-control" formControlName="firstName" [ngClass]="{'is-invalid' : isSubmitted && controls.firstName.errors }"/>
              <div class="text-warning" *ngIf="controls.firstName.touched && controls.firstName.errors">
                <div *ngIf="controls.firstName.errors.required">
                  First Name is required
                </div>
              </div>
            </div>
            <div class="form-group col-6">
              <label>Last Name</label>
              <input type="text" class="form-control" formControlName="lastName" [ngClass]="{'is-invalid' : isSubmitted && controls.lastName.errors }"/>
              <div class="text-warning" *ngIf="controls.lastName.touched && controls.lastName.errors">
                <div *ngIf="controls.lastName.errors.required">
                  Last Name is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid' : isSubmitted && controls.email.errors }"/>
            <div class="text-warning" *ngIf="controls.email.touched && controls.email.errors">
              <div *ngIf="controls.email.errors.required">Email is required</div>
              <div *ngIf="controls.email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label>Password</label>
              <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid' : isSubmitted && controls.password.errors }"/>
              <div class="text-warning" *ngIf="controls.password.touched && controls.password.errors">
                <div *ngIf="controls.password.errors.required">Password is required</div>
                <div *ngIf="controls.firstName.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="form-group col">
              <label>Confirm Password</label>
              <input type="password" class="form-control" formControlName="confirmPassword" [ngClass]="{'is-invalid' : isSubmitted && controls.confirmPassword.errors }"/>
              <div class="text-warning" *ngIf="controls.confirmPassword.touched && controls.confirmPassword.errors">
                <div *ngIf="controls.confirmPassword.errors.required">
                  Confirm Password is required
                </div>
                <div *ngIf="controls.confirmPassword.errors.mustmatch">
                  Passwords must match
                </div>
              </div>
            </div>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" id="acceptTerms" class="form-check-input" formControlName="acceptTnC" [ngClass] = "{ 'is-invalid' : isSubmitted && controls.acceptTnC.errors }"/>
            <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
            <div class="text-warning" *ngIf="controls.acceptTnC.touched  && controls.acceptTnC.value === false">
              Accept Ts & Cs is required
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-success btn-lg px-4 mr-3">Register</button>
            <button class="btn btn-warning btn-lg px-4 mr-3" type="reset" (click)="onReset()">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  